<% if  @autors.errors.any? %>
<div id="error_explanation">
	<h2> Infelizmente não foi possivel completar a ação. </h2>
</div>
<% end %>
<div align="center">
<%=form_for @autor do |f| %>
	<p>
		<%= f.label :nome %>
		<%= f.text_field :nome %>
		<% if @autors.errors.has_key? :nome %>
		<div class="error_message">
		<%= @autors.errors[:nome].first %>
		<% end %>
		</div>
	</p>
	<div align="center">
	<p>
		<%= f.label :data_nascimento %>
		<%= f.date_select :data_nascimento %>
		<% if @autors.errors.has_key? :data_nascimento %>
		<div class="error_message">
		<%= @autors.errors[:data_nascimento].first %>
		<% end %>
		</div>
	</p>
	</div>
	<p>
		<div class="form-actions">
  		<button type="submit" class="btn btn-primary">Salvar</button>
  		<%= link_to autors_path do %>
  		<button type="button" class="btn">Cancelar</button>
  		<% end %>
		</div>
	</p>
<% end %>
</div>
