<% if  @usuarios.errors.any? %>
<div id="error_explanation">
	<h2> Infelizmente não foi possivel completar a ação. </h2>
</div>
<% end %>
<div align="center">
<%=form_for @usuario do |f| %>
	<p>
		<%= f.label :login %>
		<%= f.text_field :login %>
		<% if @autors.errors.has_key? :login %>
		<div class="error_message">
		<%= @autors.errors[:login].first %>
		<% end %>
		</div>
	</p>
	<div align="center">
	<p>
		<%= f.label :senha %>
		<%= f.date_select :senha %>
		<% if @autors.errors.has_key? :senha %>
		<div class="error_message">
		<%= @autors.errors[:senha].first %>
		<% end %>
		</div>
	</p>
	</div>
	<p>
		<div class="form-actions">
  		<button type="submit" class="btn btn-primary">Salvar</button>
  		<%= link_to autors_path do %>
  		<button type="button" class="btn">Cancelar</button>
  		<% end %>
		</div>
	</p>
	
<% end %>
</div>
