<h1>Home</h1>
<% lo = "asd" %>
<% lo = "asd"%>
<%=form_for @usuarios do |f| %>
	<p>
		<%= f.label :login %>
		<%= f.text_field lo %>
	</p>
	<p>
		<%= f.label :senha %>
		<%= f.text_field se %>
	</p>
<%end%>
