
<%= form_tag usuariosessions_path do%>
<p>
<%= label :login %>
<%= text_field :login %>
</p>
<p>
<%= label :senha %>
<%= password_field :senha %>
</p>
<p>
<%= submit %>
</p>
<% end %>
<p><%= link_to t('.sign_up'), new_usuario_path %> </p>